#index {
    background: lightskyblue url("../background-images/b-image-4-index.jpg") no-repeat fixed center;
}
#A3_4 {
    background: lightskyblue url("../background-images/arena_pekkasplayhouse.png") repeat-x fixed center;
}
#A1 {
    background: lightskyblue url("../background-images/arena_goblinstadium.png") repeat-x fixed center;
}
#A2 {
    background: lightskyblue url("../background-images/arena_bone.png") repeat-x fixed center;
}