#index {
    background: lightskyblue url("../images-for-decks/background-images/b-image-for-index.jpg") repeat-y fixed center;
}
#A3_4 {
    background: lightskyblue url("../images-for-decks/background-images/arena_pekkasplayhouse.png") repeat-x fixed center;
}
#A1 {
    background: lightskyblue url("../images-for-decks/background-images/arena_goblinstadium.png") repeat-x fixed center;
}
#A2 {
    background: lightskyblue url("../images-for-decks/background-images/arena_bone.png") repeat-x fixed center;
}