nav {
    height: 50px;
    width: 98.5%;
    margin: 20px 0 5px 0;
    padding-left: 5px;
}
    nav ul {
        list-style: none;
        padding: 0px;
    }
        nav ul li {
            display: block;
        }
.navlink {
    height: 30px;
    margin-right: 12px;
    font-size: 20px;
    float: left;
    padding-top: 3px;
    color: lightgray;
    text-decoration: none;
}
.backgroundgradient {
    background-color: mediumblue ;
}