span {
    font-size: 23px;
}
body {
    margin: 60px 75px 60px 75px;
    border-width: 10px;
    border-style: solid;
    border-color: cadetblue;            
}
ul li {
    font-size: 23px;
}
h2 {
    padding: 0 0 0 10px;
    font-size: 30px;
    font-weight: 500;
}
a {
    text-decoration: none;
    font-size: 22px;
    padding: 5px 0 5px 35px;
}
ol li {
    font-size: 23px;
}
h3 {
    font-size: 25px;
    padding: 0 0 0 10px;
    font-weight: 500;
}
h4 {
    padding: 0 0 0 10px;
    font-weight: 500;
    font-size: 19px;
}
p {
    font-size: 23px;
    padding: 0 0 0 10px;
}
section {
    border-width: 30px;
    border-style: double;
    border-color: cadetblue;
}
nav {
    border-width: 10px;
    border-style: solid;
    border-color: cadetblue;
}
h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}
section nav {
    margin: 0 15px 0 15px;
}
img {
    margin: 0 10px 5px 10px;
}
.imgDecks {
    text-align: center;
}
.title_sug {
    text-align: center;
    padding: 10px 10px 10px 10px;
}
footer {
    border-width: 30px;
    border-style: double;
    border-color: cadetblue;
}
.card_sug {
    width: 200px
}
.A1_name_sug {
    width: 250px;
    height: 25px
}
.A1_sug {
    text-align: center;
}
.textarea_sug {
    margin-bottom: 20px;
}
.textarea_sug_WTU {
    margin-bottom: 20px;
}
.submit {
    margin-bottom: 20px;
    height: 50px;
    width: 80px;
}
.A2_name_sug {
    width: 250px;
    height: 25px;
}
.A2_sug {
    text-align: center;
}
.nickname_sug {
    margin-bottom: 20px;
    width: 200px;
}